.header {
    background-color: #444477;
    color: white;
    padding: 5px;
    text-align: center;
}

.box {
    background-color: #c73b22;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    font-weight: bold;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #007afd;
}
