/* Estilo base */
.responsive-menubar {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 10px;
  }
  
  /* Ocultar menú en pantallas pequeñas */
  @media (max-width: 768px) {
    .responsive-menubar {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
  
  /* Mostrar el menú al activar el botón */
  .show-menu .responsive-menubar {
    display: block;
    flex-direction: column;
    gap: 10px;
  }
  
.box {
    background-color: #c73b22;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    font-weight: bold;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #007afd;
}
