<p-menubar [model]="items" class="responsive-menubar"></p-menubar>

<link rel="stylesheet" href="galeria.component.scss">
<br>
<br>
<br>
<br>
<br>

<!-- Componente Galleria de PrimeNG -->
<div class="grid p-2 justify-content-center gap-3 flex-wrap">
  <p-galleria 
      [value]="images" 
      [responsiveOptions]="responsiveOptions" 
      [numVisible]="5" 
      [containerStyle]="{ 'max-width': '640px' }">
      <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" style="width: 100%;" />
      </ng-template>

      <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
              <img [src]="item.thumbnailImageSrc" [alt]="item.alt" 
                   style="width: 80px; height: 80px; object-fit: cover; border-radius: 20%; border: 2px solid #ccc;" />
          </div>
      </ng-template>
  </p-galleria>
</div>

<br>

<!-- Componente de imagen con vista previa -->
<div class="flex justify-content-center">
  <p-image src="https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgb&dl=pexels-souvenirpixels-417074.jpg&fm=jpg" 
           alt="Image" 
           width="250" 
           [preview]="true">
  </p-image>
</div>

<br><br>

<!-- Botones de navegación -->
<div class="flex justify-content-center align-items-center" style="gap: 20px;">
  <button class="click" routerLink="/carusel">
    <i class="pi pi-angle-double-left"></i> Atrás
  </button>
  <button class="click" routerLink="/galeria">
    Siguiente <i class="pi pi-angle-double-right"></i>
  </button>
</div>
