
<br>
<br>
<button class="click-2" style="position: absolute; right: 20px;" routerLink="">
  <i class="pi pi-at">omx_js</i>
</button>
<br>
<br>

<br>
<br>
<div class="grid">
    <!-- Tarjeta 1 -->
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box" style="flex-direction: column;">
        <h2 style="margin: 0; font-size: 22px;">Entregable 0.1</h2>
        <p style="margin: 10px 0;">Matrices </p>
        <button class="click" routerLink="/entregable">Go!</button>
      </div>
    </div>
    <!-- Tarjeta 2 -->
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box" style="flex-direction: column;">
        <h2 style="margin: 0; font-size: 22px;">Entregable 1</h2>
        <p style="margin: 10px 0;">Cuadros responsivo.</p>
        <button class="click" routerLink="/entregable-1">Go!</button>
      </div>
    </div>
    <!-- Tarjeta 3 -->
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box" style="flex-direction: column;">
        <h2 style="margin: 0; font-size: 22px;">Entregable 2</h2>
        <p style="margin: 10px 0;">Cuadros responsivos con imagenes (12).</p>
        <button class="click" routerLink="/entregable-2">Go!</button>
      </div>
    </div>
    <!-- Tarjeta 4 -->
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box" style="flex-direction: column;">
        <h2 style="margin: 0; font-size: 22px;">Entregable 3</h2>
        <p style="margin: 10px 0;">Muestra todos los iconos.</p>
        <button class="click" routerLink="/iconos">Go!</button>
      </div>
    </div>

       <!-- Tarjeta 5 -->
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box" style="flex-direction: column;">
        <h2 style="margin: 0; font-size: 22px;">Carusel</h2>
        <p style="margin: 10px 0;">Muestra un carusel de imagenes</p>
        <button class="click" routerLink="/carusel">Go!</button>
      </div>
    </div>
        <!-- Tarjeta 6-->
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
      <div class="box" style="flex-direction: column;">
        <h2 style="margin: 0; font-size: 22px;">Galeria</h2>
        <p style="margin: 10px 0;">Muestra  imagenes</p>
        <button class="click" routerLink="/galeria">Go!</button>
      </div>

    </div>
    </div>
  
