.header {
    background-color: #444477;
    color: white;
    padding: 5px;
    text-align: center;
}
.box {
    background-image: url('https://img.freepik.com/vector-premium/diseno-logotipo_1016686-1642.jpg?w=740');
}